---
title: Le Wagon - Team
---

<div id="team">
  <ul class="list-inline text-center">
  <% ["mwahrlich", "vedikaja-in"].each do |gh_username| %>
    <li>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "avatar-large" %>
      <h3><%= gh_username.capitalize %></h3>
    </li>
    <% end %>
  </ul>
</div>
